*  {
  font-family: "Finlandica Headline";
  /* letter-spacing: 1px; */
  /* font-weight: 900 !important; */
}

button {
    cursor: pointer;
}

h1 {
  text-transform: capitalize;
}

p {
  text-align: justify;
}