*  {
  /* font-family: "Finlandica Headline"; */
  font-family: "Saira";
  /* letter-spacing: 1px; */
  /* font-weight: 900 !important; */
  border-radius: 20px;
}

button {
    cursor: pointer;
}

h1 {
  text-transform: capitalize;
}

p {
  text-align: justify;
}

.icon {
  border-radius: 0;
}


button {
  text-transform: capitalize;
}